<section class="propertie-binding">
    <!-- Exemplo de property binding usando interpolação--> 
    <!-- 
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>{{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
    -->
    <!--Exemplo de property binding usando class e style binding-->
    <!--
    <article>
        <h3>
            <div>
                Selecione uma classe:
                <select #classe (change)="0">Sucesso
                    <option value="alert-success">Sucesso</option>
                    <option value="alert-info">Info</option>
                    <option value="alert-warning">Alerta</option>
                    <option value="alert-danger">Erro</option>
                </select>
                
                <br><br>

                <div class="alert {{classe.value}}" role="alert">
                    Texto colorido de conforme valor do combobox
                </div>

                <div [class.alert-success]="classe.value == 'alert-success'" class="alert"
                    role="alert">Sucesso</div>
                <div [class.alert-info]="classe.value == 'alert-info'" class="alert"
                    role="alert">Info</div>
                <div [class.alert-warning]="classe.value == 'alert-warning'" class="alert"
                    role="alert">Alerta</div>
                <div [class.alert-danger]="classe.value == 'alert-danger'" class="alert"
                    role="alert">Erro</div>

                <div [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
                    class="alert alert-danger" role="alert">
                    Esse texto só aparece em caso de erro
                </div>

            </div>
        </h3>
    </article>
    -->
    <article>
        <h3>Event Biding</h3>
        <div>
            <button (click)="btnClicado()" class="btn btn-primary">Me clique!</button>
            <br><br>
            <!-- Principais eventos do INPUT -->
            <!-- (keyup) -> Evento disparado ao digitar valores no input -->
            <!-- (keyup.enter) -> Evento disparado após clicar na tecla enter estando com foco no input -->
            <!-- (blur) -> Evento disparado após a perda do foco do input -->
            <input type="text"
                (keyup)="onKeyUp($event)"
                (keyup.enter)="btnSalvarValor(campoInput.value)"
                (blur)="btnSalvarValor(campoInput.value)"
            #campoInput />
            <p>Valor atual: {{ valorAtual }}</p>
            <p>Valor salvo: {{ valorSalvo }}</p>

            <span
                (mouseover)="btnOnMouseOverOut()"
                (mouseout)="btnOnMouseOverOut()"
                [class.highlight]="isMouseOver"
            >
                Passe o mouse sobre mim
            </span>
        </div>
    </article>
</section>
